@mixin sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  border: 0;
}

.sr-only {
  @include sr-only;
}

@mixin sr-only--and-no-js {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
  .no-js & {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: visible;
  }
}

.sr-only--and-no-js {
  @include sr-only--and-no-js;
}
