@charset "utf-8";


@import '../../_shared/styles/variables';
@import 'variables';


/**
 *
 * Vendor, inc Bootstrap and its ui-kit themed bootstrap components
 *
 */

@import './../../_shared/styles/_vendor/bootstrap/bootstrap';
@import './../../_shared/components/uikit-type/type';
@import './../../_shared/components/uikit-links/links';
@import './../../_shared/components/uikit-buttons/buttons';
@import './../../_shared/components/header/header';
@import './../../_shared/components/footer/footer';
@import './../../_shared/components/phase-banner/phase-banner';
@import './../../_shared/components/uikit-alert/alert';


/**
 *
 * App Shell
 *
 */

@import 'layouts/app-shell-layout';


/**
 *
 * Components
 *
 */

@import 'components/progress-line';
