<ul>
  <%- if controller_name != 'sessions' %>
    <li><%= link_to "Back to sign in", new_session_path(resource_name) %></li>
  <% end -%>

  <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
    <li><%= link_to "Forgotten your password?", new_password_path(resource_name) %></li>
  <% end -%>

  <!-- <%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
    <li><%= link_to "Didn't receive unlock instructions?", new_unlock_path(resource_name) %></li>
  <% end -%> -->
</ul>
