@charset "utf-8";


$color-brand-primary: #0579c7 !default;
$color-brand-supp: #00a1bb !default;
$color-background-blue: #e6fafc !default;
$color-text-grey: #717171 !default;
$color-user-satisfaction: #cf7e33;
$color-cost-per-transaction: #7e985c;
$color-digital-take-up: #007cc3;
$color-completion-rate: #6e63a7;

$color-is-success: #51a351;
$color-is-error: #bd362f;
$color-is-info: #f9edbe;
$color-is-warning: #f89406;


/**
 *
 * Ui-kit and overrides
 *
 */

@import '~bourbon/core/bourbon';
@import '~bourbon-neat/app/assets/stylesheets/neat';
@import './legacy/_vendor/gov-au-ui-kit/fake-external-links';

@import './../../_common/styles/_vendor/bootstrap/bootstrap-grid';
@import './../../_common/styles/_vendor/bootstrap/responsive-utilities';


/**
 *
 * Dashboard
 *
 */

// vendor

@import '~bootstrap/scss/mixins/lists';


// components
// layout
// themes

@import './legacy/variables';
@import './legacy/mixins';

@import "../../_common/styles/components/type";
@import './legacy/base';

$enable-flex: false !default;
$spacer: 1rem !default;
$media-margin-top:            15px !default;
$media-heading-margin-bottom:  5px !default;
$media-alignment-padding-x:   10px !default;
@import '~bootstrap/scss/media';
@import './legacy/components/toggle-switch';

@import './legacy/dashboard/chart';
@import './legacy/dashboard/base';
@import './legacy/dashboard/dashboard';
@import './legacy/dashboard/card';
@import './legacy/dashboard/stack';
@import './legacy/components/dashboard-kpis';
@import './legacy/feedback/feedback';
@import './legacy/widgets/widget';
@import './legacy/widgets/sparkline';





@import './legacy/pages/dashboards-index';




// NEW

@import './../../_shared/styles/variables';

@import './../../_shared/components/uikit-links/links';
@import "~bootstrap/scss/mixins"; // required for uikit-buttons
@import "~bootstrap/scss/mixins/buttons"; // required for uikit-buttons
//@import "~bootstrap/scss/buttons"; // required for uikit-buttons
//@import './../../_shared/components/uikit-buttons/buttons';
@import './../../_shared/components/sr-only';
@import './../../_shared/components/phase-banner/phase-banner';
@import './../../_shared/components/header/header';
@import './../../_shared/components/footer/footer';





// start again

@import 'pages/dashboardShow';


@import "layouts/btlContainer";

@import "components/skipLinks";
@import "components/loadingPanel";
@import "components/dashboardKpis";
@import "../../_shared/components/chartWidget/widgetCard";
@import "../../_shared/components/chartWidget/widget";
@import '../../_shared/components/badges/badges';

