<div class="phase-banner">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <span><%= message %> - please <a href="/feedback" class="UIK-link">give feedback</a>.</span>
      </div>
    </div>
  </div>
</div>
