<div class=toggle-switch>
  <label class="switch-light switch-material" onclick="">
    <strong class="switch-text">High contrast mode</strong>
    <input type="checkbox" id="high-contrast-switch">
    <span>
      <span></span>
      <span></span>
      <a></a>
    </span>
  </label>
</div>
