<% content_for :title, 'Dashboard API' %>
<% content_for :description, 'Dashboard API documentation and instructions' %>

<div class="container">
    <h1>API</h1>
    <p>The Performance Dashboard provides a simple HTTP API for storing data.</p>
    <p>A Swagger API Specification is provided below.</p>
    <p>The Dashboard team use and recomend <a href="https://www.getpostman.com/">Postman App</a> for testing and exploration.</p>
    <h2>Resources</h2>
    <ul>
      <li><a href="https://swaggerhub.com/api/dto/dto-dashboard/v1">Swagger Specification</a></li>
      <li><a href="https://github.com/AusDTO/dto-dashboard/blob/master/dashboard-api.postman_collection.json">Postman App Configuration</a></li>
    </ul>
    <h2>Generate API Token</h2>
    <ul>
      <li>Access the User Account Details by click your email address in the top right of the header or directly via https://dashboard.gov.au/user</li>
      <li>Click the Generate API Token button.</li>
      <li>A new token will be generated and displayed in the page.</li>
      <li>You will need to immediately record the API Token as it is only displayed once for security reasons.  .</li>
    </ul>
    <h2>Sandbox Environment</h2>
    <p>A sandbox environment is available to agencies upon request for development and testing purposes.</p>
    <p>The sandbox data is transient and periodically reset and allows the API to be safely explored without effecting production systems.</p>
    <p>The sandbox environment tracks the Production Dashboard releases and are updated regularly to reflect changes and fixes in production.</p>
    <p>Please contact the <a href="mailto:performance-dashboard@digital.gov.au">Perfomance Dashboard Team</a> to discuss access to the API and sandbox environment.</p>
</div>
