<% content_for :title, 'Copyright' %>
<% content_for :description, 'Copyright' %>

<div class="container">
    <h1>Copyright</h1>
    <p>With the exception of the Commonwealth Coat of Arms and where otherwise noted, all material presented on this site is provided under the latest Creative Commons Attribution licence.</p>
    <p>The details of the <a href="http://creativecommons.org/licenses/by/4.0/">relevant licence conditions</a> and the <a href="http://creativecommons.org/licenses/by/4.0/legalcode">full legal code</a> for the licence are available on the Creative Commons website.</p>
    <h2>Use of the Coat of Arms</h2>
    <p>The terms under which the Coat of Arms can be used are detailed on the <a href="http://www.itsanhonour.gov.au/coat-arms/index.cfm">It’s an Honour</a> website.</p>
</div>
