.progress-line, .progress-line:before {
  height: 3px;
  width: 100%;
  display: inline-block;
  max-width: 600px;
  padding: 0 3em;
  margin: 0 auto;
}

.progress-line {
  background-color: #b3d4fc;
  display: flex;
}

.progress-line:before {
  background-color: #3f51b5;
  content: '';
  animation: running-progress 2s cubic-bezier(0.4, 0, 0.2, 1) infinite;
}

@keyframes running-progress {
  0% {
    margin-left: 0px;
    margin-right: 100%;
  }
  50% {
    margin-left: 25%;
    margin-right: 0%;
  }
  100% {
    margin-left: 100%;
    margin-right: 0;
  }
}
